<div class = "subWrapper">
	<div class = "subHeader">

		<h3>There are three hints that may help...</h3>
        <b><p>Show Author will tell you the name of the author of the book from where the quote was taken.</p>
        <p>Show Book will tell you the book's title.</p>
        <p>Show Extra Hint will give some extra bit of information that may help you solve the puzzle.</p></b>
		<br>
		<h3>Press the button below to get started!</h3>
	</div>
	<div class = "subBody">
		<button id="startButton" (click)="startGame()">Start Game!</button>
	</div>
</div>
